{%- assign data = site.data[site.lang]-%}
{% assign experience = data.job_experience %}
{% if experience %}
<section class="experience">
    <div>
        <h2 class="title">{{experience.title}}</h2>
        <div></div>
    </div>
    {% for job in experience.jobs %}
    {% if site.exclude_jobs contains job.id %}
    {% continue %}
    {%endif%}
    {% assign location = job.location %}
    <div class="experience-item">
        <div class=item-header>
            <div>
                <span class="role">{{job.role}}</span>
                {%- if location.name -%}
                &nbsp;-&nbsp;<span class="employer">{{location.name}}</span>
                {%- endif -%}
                {% capture place %}
                {%- if location.city -%}
                {{location.city}}
                {%- endif -%}
                {%- if location.province -%}
                {{location.province | prepend: ", "}}
                {%- endif -%}
                {%- if location.country -%}
                {{location.country | prepend: ", "}}
                {%- endif -%}
                {% endcapture %}
                {% if place != "" %}
                &nbsp;-&nbsp;<span class="location">
                    {{place}}
                </span>
                {% endif %}
            </div>
            <div class="time">
                {%- if job.start -%}
                {%- if site.use_months and job.start.month %}
                {%- if site.use_short_months -%}
                {{data.months_short[job.start.month]}}
                {%- else -%}
                {{data.months_long[job.start.month]}}
                {%- endif -%}
                {% endif %}
                {{job.start.year}}
                {%endif%}
                {%- if job.end -%}
                 - 
                {% if site.use_months and job.end.month %}
                {%- if site.use_short_months -%}
                {{data.months_short[job.end.month]}}
                {%- else -%}
                {{data.months_long[job.end.month]}}
                {% endif %}
                {% endif %}
                {{job.end.year}}
                {%endif%}
            </div>
        </div>
        <!--

       
        <div class="location">
            {%- if location.city -%}
            {{location.city}}
            {%- endif -%}
            {%- if location.province -%}
            {{location.province | prepend: ", "}}
            {%- endif -%}
            {%- if location.country -%}
            {{location.country | prepend: ", "}}
            {%- endif -%}
        </div>
         -->
        <div class="details">
            <ul>
                {% for detail in job.details %}
                <li class="detail">
                    {{detail}}
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}